<!--<div-->
<!--  *ngFor="-->
<!--    let color of colors;-->
<!--    let i = index;-->
<!--    let first = first;-->
<!--    let last = last;-->
<!--    let count = count-->
<!--  "-->
<!--&gt;-->
<!--  <span>{{ i }}. {{ first ? "Я первый" : "" }} {{ last ? "Я последний" : "" }} {{ color }}</span>-->
<!--</div>-->

<!--@for (color of colors; track color; let i = $index; let first = $first; let last = $last) {-->
<!--    <div>-->
<!--<span>{{ i }}. {{ first ? "Я первый" : "" }} {{ last ? "Я последний" : "" }} {{ color }}</span>-->
<!--</div>-->
<!--}-->

<!--@empty {-->
<!--<span>Пустой массив</span>-->
<!--}-->

<!--<div *ngIf="isShow; else emptyState">-->
<!--  {{ isShow }} я вывелся так как значение true-->
<!--</div>-->

<!--<button (click)="isShow = !isShow">{{ isShow }}</button>-->

<!--<ng-template #emptyState>-->
<!--  <span>{{ isShow }} я вывелся так как значение false</span>-->
<!--</ng-template>-->

<!--@if(isShow) {-->
<!--{{ isShow }} я вывелся так как значение true-->
<!--}-->
<!--@else {-->
<!--<span>{{ isShow }} я вывелся так как значение false</span>-->
<!--}-->
<!--<button (click)="isShow = !isShow">{{ isShow }}</button>-->

<!--@for (color of colors; track color; let i = $index; let first = $first; let last = $last) {-->
<!--    <div>-->
<!--<button (click)="currentColor = color">-->
<!--{{ color }}-->
<!--</button>-->
<!--</div>-->
<!--}-->

<!--@empty {-->
<!--<span>Пустой массив</span>-->
<!--}-->

<!--<div [ngSwitch]="currentColor">-->
<!--  <span *ngSwitchCase="'red'">Выбранный цвет - Красный</span>-->
<!--  <span *ngSwitchCase="'blue'">Выбранный цвет - Синий</span>-->
<!--  <span *ngSwitchCase="'green'">Выбранный цвет - Зеленый</span>-->
<!--  <span *ngSwitchCase="'yellow'">Выбранный цвет - Желтый</span>-->
<!--</div>-->

<!--@switch (currentColor) {-->
<!--    @case ('red') {-->
<!--      <span>Выбранный цвет красный</span>-->
<!--    }-->
<!--    @default {-->
<!---->
<!--    }-->
<!--}-->

<!--<span [ngStyle]="elementStyle">Я - текст, измененный полем класса</span>-->
<!--<span [ngClass]="">Я - текст, измененный полем класса</span>-->
<!--<span [attr.class]="">Я - текст, измененный полем класса</span>-->

<!--<h2 myChangeColor>Директивы</h2>-->
<!--<h2 [myChangeColor]="colors">Директивы</h2>-->
<h2 myChangeColor>Директивы</h2>

<span *myIf="isShow">{{ isShow }}</span>

<br>

<button (click)="isShow = !isShow">Click me!</button>
