<!--<style>-->
<!--  h1 {-->
<!--    color: #cd2f2f;-->
<!--  }-->
<!--</style>-->

<!--<h1>view-foo works!</h1>-->

<!--<app-view-bar class="pink"></app-view-bar>-->
<!---->
<!--<button (click)="login()">Login</button>-->

<div style="height: 31px">
  <!--  @if (isShow) {-->
  <!--    <div @fadeIn @fadeOut style="font-size: 30px">I'm animated</div>-->
  <!--  }-->
  <div
    [@fadeInOut]="isShow ? 'open' : 'close'" style="font-size: 30px"
    (@fadeInOut.start)="onAnimationStart($event)"
    (@fadeInOut.done)="onAnimationDone($event)"
  >
    I'm animated
  </div>
</div>

<button style="font-size: 30px" (click)="isShow = !isShow">Change Show</button>

@for (item of todoArr; track $index) {
  <app-todo-item [todo]="item"></app-todo-item>
}

<h1>view-foo works!</h1>

<app-view-bar></app-view-bar>

<button (click)="login()">Login</button>
<br>
<button (click)="changeText()">Change Text</button>
<br>
<button (click)="changeStream()">Change Stream</button>
