.login-form {

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 50vw;
  border: none;
  padding: 0 20px;


  div {
    width: 100%;
    display: flex;
    gap: 15px;

    label {
      width: 160px;
    }
  }

  &__array {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}

hr {
  margin: 10px 0;
}
