<ul class="navi">
  <li class="navi__item"><a routerLink="/calculator" routerLinkActive="active">Calculator</a></li>
  <li class="navi__item"><a routerLink="/object-list" routerLinkActive="active">Object list</a></li>
  <li class="navi__item"><a routerLink="/directives" routerLinkActive="active">Directives</a></li>
  <li class="navi__item"><a routerLink="/life-cycle" routerLinkActive="active">Life-cycle</a></li>
  <li class="navi__item"><a routerLink="/requests" routerLinkActive="active">Requests and Services</a></li>
  <li class="navi__item"><a routerLink="/pipes" routerLinkActive="active">Pipes</a></li>
</ul>
